@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --text-base-color: #000000;
    --text-secondary-color: #ffffff;
    --icon-color: #989a9c;
    --background-contrast-color: #343a40;
    --background: #202124;
    --font-contrast:'Roboto Slab', serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-contrast);
}

body {
    padding: 0px 15%;
}

nav {
    border-bottom: 2px solid var(--icon-color);
    padding-top: 20px;
}

.list-link {
    display: flex;
    gap: 120px;
    justify-content: end;
    padding: 0px 15px;
}

.list-item-link {
    list-style-type: none;
    height: 30px;
}

.link {
    color: var(--text-base-color);
    text-decoration: none;

    transition: 250ms;
}

.link:hover {
    color: var(--icon-color)

}

.about-me-container {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 25px;
    color: var(--text-secondary-color);
}

.about-me-text-container {
    padding: 10px;
    border-left: 3px solid var(--background-contrast-color);
}

.about-me-title-container {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-me-description {
    max-width: 390px;
}

.about-me-img {
    width: 250px;
    border-radius: 10px;
    border: 3px solid var(--background-contrast-color);
}

