:root {
    --text-base-color: #000000;
    --text-secondary-color: #ffffff;
    --icon-color: #989a9c;
    --background-contrast-color: #343a40;
    --background: #202124;
    --font-contrast:'Roboto Slab', serif;
}